.Header {
    height: 60px;
    line-height: 60px;
}
.Menu_TopMenuActive {
  line-height: 55px;
}
div.Menu_DropDownPanel a,
div.Menu_DropDownPanel a:link,
div.Menu_DropDownPanel a:visited {
  color:rgba(255, 255, 255, .75)
}
