// outsystems theme defaults
$primary-color: #303030;
$secondary-color: #eee;
//
$header-color: #0c0c0c;
//
$title-color: #666;
$text-color: #404040;
$light-text-color: #888;
//
$background-color: #edf1f3;
// components
$modal-color: $primary-color;
$wizard-color: #0c0c0c;
$border-color: #D8D6D7; //#ccc
// Colors
// Conditional button colors
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
$cancel-color: #ccc;
//
$black-color: #000000;
$white-color: #fff;
$light-grey-color: #ccc;
// Labels
$grey-color: #404040;
$red-color: #990000;
$green-color: #006f49;
$blue-color: #008CBA;
$purple-color: #8000ff;
$yellow-color: #ecd600;
$orange-color: #EE7600;
//
$border-radius: 4px;
/*
#eeeeee
#f7f7f7
#dddddd
#333333



*/
